<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Healthy Minds: Chat with Strangers" />
    <meta property="og:description" content="Healthy Minds is a platform to meet strangers and make new friends." />
    <meta property="og:image:secure_url" content="/images/meta_image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Healthy Minds</title>
</head>

<body>
  

   
    <div class="ui menu">
        <div class="item left floated">
            <div class="ui header">
                <h1 class="sty">Healthy Minds</h1>
            </div>
        </div>

        <div class="item right floated">
            <div class="ui header">
                <h1 class="sty">By Group 89</h1>
            </div>
        </div>

        
    </div>
    
    
    <div class="ui grid">
        <div class="row">
            <div class="five wide computer five wide tablet three wide mobile column"></div>
            <div class="six wide computer six wide tablet ten wide mobile column center aligned">
                <div class="ui hidden divider"></div>
                
                <div class="ui hidden divider"></div>
                <p class="sty add"> Welcome to The Healthy Minds chat </p>
                <p class="sty add">For any feedback, you can call on +919122425642 or email on meetmukulmrinal@gmail.com</p>
                <p class="sty add">Enjoy and follow the rules and regulations</p>
                <p class="sty add">
                    This project is brought to you by Students of Vit Bhopal. 
                </p>
            </div>
            <div class="five wide computer five wide tablet three wide mobile column"></div>
        </div>
    </div>
   
        <div class="eight wide computer eight wide tablet sixteen wide mobile column center aligned">
            <div class="ui segment">
                <div class="ui relaxed divided list">
                     <div class="item">
                        <div class="content">
                            <div class="header">
                           <p class="sty add">Our Team</p>  
                            </div>
                            
                        </div>
                    <div class="item">
                        <div class="content">
                            <div>
                                <p class="sty add">Mrinal Mukul</p>  
                            </div>
                            
                    </div>
                  
                    <div class="item">
                        <div class="content">
                            <div >
                               <p class="sty add">Dipendra Singh Sekhawat</p>  
                            </div>
                            
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div>
                              <p class="sty add">Burhanuddin Chitalwala</p>  
                            </div>
                          
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div>
                                 <p class="sty add">Sudhany Gupta</p>  
                            </div>
                             
                             
                             <div class="item">
                        <div class="content">
                            <div>
                                 <p class="sty add">Prince Singh</p>  
                            </div>
                              <div class="item">
                        <div class="content">
                            <div>
                                 <p class="sty add">Guide-Kamlesh Chandravanshi</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <hr class="hr">
   
   
   
   
   
   
   
    <div class="ui hidden divider"></div>
    <div class="ui grid">
        <div class="row">
            <div class="five wide computer five wide tablet three wide mobile column"></div>
            <div class="six wide computer six wide tablet ten wide mobile column center aligned">
                <div class="ui hidden divider"></div>
                <div class="input">
                    <input type="checkbox" id="squaredOne">
                    <span class="agree_text">I agree to all the
                        <a href="https://docs.google.com/document/d/e/2PACX-1vRx0cC_ew07jhxg1FQ83dEu4gopkXob9iBuTeCZy8PkvdaMUY8C-UedunfNmKTRRoL22IcQl9mBjG6g/pub" class="terms">Terms and Conditions</a>
                    </span>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui button animated fade massive blue inverted disabled" id="termsAndCo">
                    <div class="visible content">
                        <span class="sty">Chat with Stranger</span>
                    </div>
                    <div class="hidden content">
                        <span class="sty">TAKE ME THERE</span>
                    </div>
                </div>
            </div>
            <div class="five wide computer five wide tablet three wide mobile column"></div>
        </div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>


   
</div> 
</body>
<script src="/js/indexPage.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/semantic/dist/semantic.min.js"></script>

</html>
